.gradle/
build/
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
# 由 build.gradle.kts 的 generatePluginJson 任务自动生成
src/main/assets/plugin.json
